@CHARSET "UTF-8";

.clearFloat {
	clear: both;
	position: relative;
	height: 0px;
	font-size: 1px;
	line-height: 0px;
	overflow: hidden;
}
body {
	background-color: #ffffff;
}
div, table, span {
	margin: 0px;
	padding: 0px;
	float: left; /* also triggers shrink-wrap */
}
#board {
	margin: 0px 10px 10px 0px;
}
.border {
	border: 5px inset #999999;
}
#nextShapeContainer {
	margin: 0px 10px 10px 0px;
}
table.grid {
	background-color: #000000;
	border: 0px none #000000;
	border-collapse: separate;
	border-spacing: 2px;
	empty-cells: show;
}
#nextShape table.grid td {
    width: 10px;
    height: 10px;
}
#board table.grid td {
    width: 16px;
    height: 16px;
}
#speedLabel {
	margin: 10px 10px 10px 0px;
}
#speedSlider {
	position: relative;
	width: 200px;
	margin: 10px;
}
table.grid td.empty {
	background-color: #000000;
}
table.grid td.blue {
	background-color: #000099;
}
table.grid td.red {
	background-color: #ff0000;
}
table.grid td.yellow {
	background-color: #999900;
}
table.grid td.magenta {
	background-color: #ff00ff;
}
table.grid td.green {
	background-color: #00ff00;
}
table.grid td.brightyellow {
	background-color: #ffff00;
}
table.grid td.brightblue {
	background-color: #0000ff;
}
