@CHARSET "ISO-8859-1";
body {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
}
#logDiv {
	position: relative;
	float: right;
	overflow: auto;
	width: 50%;
}
div.board {
	clear: both;
}
div.controls {
	clear: both;
}
table.board {
	float: left;
	/*padding: 1px;*/
	border-style: solid;
	border-width: 10px;
	/*border-collapse: collapse;*/
	border-color: #ffffff;
	/*border-spacing: 1px;*/
	empty-cells: show;
}
tr.board {
}
td.empty {
	width: 16px;
	height: 16px;
	background-color: #000000;
}
td.shape {
	width: 16px;
	height: 16px;
	background-color: #00ff00;
}
