@CHARSET "UTF-8";

body {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}
#logDiv {
	position: relative;
	float: right;
	overflow: auto;
	width: 50%;
}
div.display {
	padding: 10px;
	margin: 10px;
}
div.board {
	padding: 10px;
	margin: 10px;
	/*border-width: 10px;*/
	clear: left;
}
div.nextShape {
	display: inline;
	float: left;
    padding: 0px;
    margin: 10px;
	clear: right;
}
.nextShape td {
	padding: 0px;
	margin: 0px;
}

div.controls {
	clear: both;
}
.board table, .nextShape table {
	background-color: #000000;
	float: left;
	padding: 0px;
	border-style: none;
	border-width: 0px;
	border-collapse: separate;
	border-spacing: 2px;
	empty-cells: show;
}
.board td {
    width: 16px;
    height: 16px;
}
.nextShape td {
    width: 10px;
    height: 10px;
}
.board td.empty, .nextShape td.empty {
	background-color: #000000;
}
.board td.blue, .nextShape td.blue {
	background-color: #000099;
}
.board td.red, .nextShape td.red {
	background-color: #ff0000;
}
.board td.yellow, .nextShape td.yellow {
	background-color: #999900;
}
.board td.magenta, .nextShape td.magenta {
	background-color: #ff00ff;
}
.board td.green, .nextShape td.green {
	background-color: #00ff00;
}
.board td.brightyellow, .nextShape td.brightyellow {
	background-color: #ffff00;
}
.board td.brightblue, .nextShape td.brightblue {
	background-color: #0000ff;
}
#dummytextarea {
}
